body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  padding-top:70px;
  padding-left:10px;
  padding-right:10px;
}


.test {
  height:100%;
  background-color: #;
  width:10px;
}

.tick {
  border-top: 1px solid #eaeff7;
}

.event {
  padding-bottom:5px;
}
