@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-lg-2">
            <nav class="navbar navbar-default navbar-fixed-side">
                <img src="~/images/logo.png" style="width:220px;" />
            </nav>
        </div>
        <div class="col-sm-9 col-lg-10">
            <!-- your page content -->
        </div>
    </div>
</div>

