@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-lg-2">
            <nav class="navbar navbar-inverse navbar-fixed-side" style="background-color:#2e3336;color:white;">
                <img src="~/images/logo.png" style="width:220px;" />

                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="active">
                            <a href="./">Return To Docs</a>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Examples <b class="caret"></b></a><ul class="dropdown-menu">
                                <li><a href="#">Sub-page 1</a></li>
                                <li><a href="#">Sub-page 2</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="col-sm-9 col-lg-10">
            <br />
            <div class="row">

                <div class="col-xs-12">
                    <div id="visualization" style="height:300px;">
                        No Data To Display
                    </div>
                </div>

            </div>
            <hr />
            <div class="row">
                <div class="col-xs-4">
                    <div class="form-group">
                        <button onclick="doFilter()" class="btn btn-default btn-primary" style="width:100%">Run!</button>
                    </div>
                    <div class="form-group">
                        <div style="height:200px;" id="filter">
{ "filters" : [
"On.Between=2016/01/01,2016/02/01"
]}
                        </div>
                    </div>

                </div>
                <div class="col-xs-8">
                    <div id="DetailsBody">
                        <div>No Data To Display</div>
                    </div>
                </div>
            </div>
    </div>
</div>


<script id="entry-template" type="text/x-handlebars-template">
    <div class="entry">
        <span style="font-weight:bold;">{{id}}</span>
        <div>
            Time: {{on}}
        </div>
        <hr />
        <span style="font-weight:bold;">Local State</span>
        <div style="height:200px;overflow:auto;">
            <table class="table">
            {{#each stateValues}}
            <tr>
            <td>{{key}}</td>
            <td>{{value}}</td>
            </tr>
            {{/each}}
            </table>
        </div>
    </div>
</script>

<script type="text/javascript">


    var container = document.getElementById('visualization');
    var options = { height: '300px' };

    var source = document.getElementById("entry-template").innerHTML;
    var template = Handlebars.compile(source);

    function doFilter() {

        $(container).html('');

        var filters = JSON.parse(editor.getValue());

        $.ajax({
            type: "POST",
            url: '/api/Data',
            dataType: 'json',
            contentType: 'application/json',
            data: JSON.stringify(filters),
            success: function (data) {
                var items = new vis.DataSet(data);
                var timeline = new vis.Timeline(container, items, options);
                timeline.on('select', onSelect);
            }
        });

    }

    function onSelect(properties) {
        $.ajax({
            type: "GET",
            url: '/api/Data/?id=' + properties.items[0],
            dataType: 'json',
            contentType: 'application/json',
            success: function (data) {
                var html = template(data);
                $('#DetailsBody').html(html);
            }
        });
    }

    var editor = ace.edit("filter");
    editor.setTheme("ace/theme/chrome");
    editor.getSession().setMode("ace/mode/json");
    editor.resize();

</script>

