@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-lg-2">
            <nav class="navbar navbar-inverse navbar-fixed-side" style="background-color:#2e3336;color:white;">
                <img src="~/images/logo.png" style="width:220px;" />

                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="active">
                            <a href="./">Return To Docs</a>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Examples <b class="caret"></b></a><ul class="dropdown-menu">
                                <li><a href="#">Sub-page 1</a></li>
                                <li><a href="#">Sub-page 2</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="col-sm-9 col-lg-10">
            <br />
            <div class="row">

                <div class="col-xs-12">
                    <div id="visualization" style="height:300px;"></div>
                </div>

            </div>
            <hr />
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <div id="filter" rows="2" style="height:50px;">{ "filters" : ["On.Between=2016/01/01,2016/02/01"] }</div>
                    </div>
                    <div class="form-group">
                        <button onclick="doFilter()" class="btn btn-default btn-primary" style="width:100%">Run!</button>
                    </div>
                </div>
            </div>
    </div>
</div>


<!-- Modal HTML -->
<div id="myModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><span id="DetailsTitle"></span></h4>
                <h4><span id="DetailsSubTitle"></span></h4>
            </div>
            <div class="modal-body">
                <div id="DetailsBody"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">


    var container = document.getElementById('visualization');
    var options = { height: '300px'};

    function doFilter() {

        $(container).html('');

        var filters = JSON.parse(editor.getValue());

        $.ajax({
            type: "POST",
            url: '/api/Data',
            dataType: 'json',
            contentType: 'application/json',
            data: JSON.stringify(filters),
            success: function (data) {
                var items = new vis.DataSet(data);
                var timeline = new vis.Timeline(container, items, options);
                timeline.on('select', onSelect);
            }
        });

    }

    function onSelect(properties) {
        $.ajax({
            type: "GET",
            url: '/api/Data/?id=' + properties.items[0],
            dataType: 'json',
            contentType: 'application/json',
            success: function (data) {
                $('#DetailsTitle').html(data["id"]);
                $('#DetailsSubTitle').html(data["on"]);

                var text = '';
                for (i = 0; i < data["stateValues"].length; i++) {
                    var line = data["stateValues"][i]['key'] + ' = ' + data["stateValues"][i]['value'];
                    text += "<div>" + line + "</div>";
                }

                $('#DetailsBody').html(text);

                $("#myModal").modal('show');
            }
        });
    }

    var editor = ace.edit("filter");
    editor.setTheme("ace/theme/chrome");
    editor.getSession().setMode("ace/mode/json");

</script>

